# Exclude data for capacity and security
/data/*/metadata/**
!/data/involcan/metadata/**
/data/*/features/**
/data/metadata/ivc.dat
/data/metadata/stations_lp.dat
/data/*/mseed/**
/data/*/DAS/**
# Exceptions to clarify structure
!/data/**/
!**/README.md
!/**/*_here

# ignore pycache
**/__pycache__

# ignore jobs folder
jobs

# ignore conda enviroment
installation/**/
!installation/docker_legacy/
# !.gitignore