# Exclude data for capacity and security
/data/features/**
/data/ivc.dat
/data/stations_lp.dat
/data/seismic/**
/data/DAS/**
# Exceptions to clarify structure
!/data/**/
!**/README.md
!/**/*_here

# ignore pycache
**/__pycache__

# ignore virtual enviroment
venv

# ignore jobs folder
jobs

# !.gitignore