# Exclude data for capacity and security
/data/*/metadata/**
!/data/involcan/metadata/**
/data/*/features/**
/data/*/nocs/**
/data/involcan/metadata/ivc.dat
/data/involcan/metadata/stations_lp.dat
/data/*/mseed/**
/data/*/DAS/**
/tests/data/**/*
!/tests/data/**/
# Exceptions to clarify structure
!/data/**/
!**/README.md
!/**/*_here

# ignore pycache
**/__pycache__
# ignore matlab autosave files
**/*.asv

# ignore jobs folder
jobs

# ignore conda enviroment
installation/**/
!installation/docker_legacy/
!installation/guide_img/
.vscode
# !.gitignore