obspy
matplotlib
pandas
streamlit
librosa
antropy
tqdm
mpld3
folium
streamlit-folium
branca
paramiko
shapely
git+https://github.com/CoDaSLab/MSPC_PCA-based.git#egg=mspc-pca
# git+https://github.com/JesusGarSan/MESA#