obspy
matplotlib
plotly
pandas
streamlit
librosa
antropy
tqdm
mpld3
folium
streamlit-folium
branca
paramiko
shapely
kneefinder
git+https://github.com/CoDaSLab/MSPC_PCA-based.git#egg=mspc-pca
git+https://github.com/JesusGarSan/MESA#